In [2]:
print('hello world')

hello world

In [3]:
import pandas as pd

# đọc file csv  
df = pd.read_csv(r'D:\agent_sql\agno\cookbook\examples\apps\sql_agent\data\datacu.csv')
# in ra 5 dòng đầu tiên
print(df.head())

                        Date        Open        High         Low       Close  \
0  2023-04-26 00:00:00-04:00  161.431992  163.629828  161.174593  162.125000
1  2023-04-27 00:00:00-04:00  163.540724  166.877073  163.540724  166.728577
2  2023-04-28 00:00:00-04:00  166.807779  168.154202  166.203869  167.985886
3  2023-05-01 00:00:00-04:00  167.589902  168.748219  166.956293  167.896805
4  2023-05-02 00:00:00-04:00  168.391797  168.649211  165.867253  166.857269

     Volume  Dividends  Stock Splits Ticker
0  45498800        0.0           0.0   AAPL
1  64902300        0.0           0.0   AAPL
2  55209200        0.0           0.0   AAPL
3  52472900        0.0           0.0   AAPL
4  48425700        0.0           0.0   AAPL

In [4]:
# Kiểm tra kết quả
print(df.head())
print(df.dtypes)

                        Date        Open        High         Low       Close  \
0  2023-04-26 00:00:00-04:00  161.431992  163.629828  161.174593  162.125000
1  2023-04-27 00:00:00-04:00  163.540724  166.877073  163.540724  166.728577
2  2023-04-28 00:00:00-04:00  166.807779  168.154202  166.203869  167.985886
3  2023-05-01 00:00:00-04:00  167.589902  168.748219  166.956293  167.896805
4  2023-05-02 00:00:00-04:00  168.391797  168.649211  165.867253  166.857269

     Volume  Dividends  Stock Splits Ticker
0  45498800        0.0           0.0   AAPL
1  64902300        0.0           0.0   AAPL
2  55209200        0.0           0.0   AAPL
3  52472900        0.0           0.0   AAPL
4  48425700        0.0           0.0   AAPL
Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
Ticker           object
dtype: object

In [5]:
# Chuyển cột Date thành datetime và bỏ timezone
df['Date'] = pd.to_datetime(df['Date'], utc=True).dt.tz_convert(None)
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [6]:
# Kiểm tra lại kiểu dữ liệu
print(df.dtypes)
# Kiểm tra lại dữ liệu
print(df.head())

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
Ticker           object
dtype: object
         Date        Open        High         Low       Close    Volume  \
0  2023-04-26  161.431992  163.629828  161.174593  162.125000  45498800
1  2023-04-27  163.540724  166.877073  163.540724  166.728577  64902300
2  2023-04-28  166.807779  168.154202  166.203869  167.985886  55209200
3  2023-05-01  167.589902  168.748219  166.956293  167.896805  52472900
4  2023-05-02  168.391797  168.649211  165.867253  166.857269  48425700

   Dividends  Stock Splits Ticker
0        0.0           0.0   AAPL
1        0.0           0.0   AAPL
2        0.0           0.0   AAPL
3        0.0           0.0   AAPL
4        0.0           0.0   AAPL

In [7]:
from datetime import date
result = df[(df['Ticker'] == 'MSFT') & (df['Date'] == date(2024, 3, 15))]
print(result[['Date', 'Close']])

             Date       Close
10765  2024-03-15  413.264893

In [8]:
# lưu lại file 
df.to_csv(r'D:\agent_sql\agno\cookbook\examples\apps\sql_agent\data\djia_prices_20250426.csv', index=False)